// название у цветов такие просто так.
// Правильнее будет названия брать из проекта в figma.
// Есть даже плагины для выгрузки их из figma.
$color1: #7D7AFF;
$color2: #FDFDFD;
$color3: #CDCED8;
$color4: #acacac;
$color5: #000;
$color6: #C0DBFF;
$color7: #07A86E;
$color8: #D9D9D9;
$color9: #696977;
$color10: #223c5033;
$color11: #fff;
$color12: #EDEFF3;
$color13: #9292A0;
$color14: red;
$color15: #E6E6EB;
$color16: #FFD467;
$color17: #adb5bd;